html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: #222;
    color: #eee;
    font-family: Arial, sans-serif;
  }
  

  header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #222;
  }

  header img{
    width: 20%;
    height: auto;
    position: relative;
  }

  /*Tabla dolar*/
  .dolar{
    position: absolute;
    right: 5%;
  }

  @media screen and (max-width:768px) {
    header{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      flex-direction: column;
      flex-wrap: wrap;
        }

        .dolar{
          margin-top: 20px;
          position: relative;
          

        }
  }

  /* Estilos para la tabla */
#dolar-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  margin-left: auto;
}

#dolar-table th,
#dolar-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#dolar-table th {
  
  font-weight: bold;
}

#dolar-table tbody tr:hover {
  background-color: #070707;
}

/* Estilos para la columna de Moneda */
#dolar-table tbody td:first-child {
  font-weight: bold;
}

/* Estilos para la columna de Compra */
#dolar-table tbody td:nth-child(2) {
  color: green;
}

/* Estilos para la columna de Venta */
#dolar-table tbody td:nth-child(3) {
  color: red;
}
/*Fin*/
  
  main {
    display: flex;
  }

  .contenedor {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
  }
  
  form {
    margin-top: 5px;
  }
  
  h1 {
    margin-top: 5px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  .input-group .required {
    border: 2px solid red;
    color: red;
  }
  
  label {
    color: #fff;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  label input[type="number"] {
    margin-left: 20px;
  }
  
  input[type="number"],
  select {
    background-color: #333;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #eee;
    font-size: 18px;
    outline: none;
    padding: 10px;
  }
  
  input[type="number"] {
    background-color: #1d1d1f;
    border: 2px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
  }
  
  input[type="number"]:hover {
    background-color: #343434;
    border: 2px solid #61dafb;
    transform: scale(1.1);
  }
  
  button {
    background-color: #61dafb;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    width: 150px;
  }
  
  button:hover {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #61dafb;
  }
  
  #resultado {
    color: #fff;
    font-size: 24px;
    margin-top: 50px;
  }
  
  .hide {
    display: none;
  }

  #tabla-prestamos {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
  }
  
  #tabla-prestamos th,
  #tabla-prestamos td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  #tabla-prestamos th {
    background-color: #eee;
  }

   /* Estilos para el footer */
   footer {
    text-align: center;
    background-color: #222;
    color: #eee;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    right: 0;
    
  }


  

  /* Estilos para el contenido del footer */
 
  .footer-content h3 {
    margin: 0;
  }

  /* Estilos para los iconos sociales del footer */
  .footer-social a {
    color: #eee;
    font-size: 24px;
    margin-left: 20px;
  }

  /* Estilos para los iconos sociales al pasar el mouse por encima */
  .footer-social a:hover {
    color: #61dafb;
    transition: color 0.2s ease;
  }
  
  .loader {
    animation: spin 2s linear infinite;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    height: 120px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  

/* Estilos para dispositivos móviles y celulares */
@media screen and (max-width: 767px) {

    /* Ajustar tamaño del logo */
    header img {
      width: 50%;
    }
  
    /* Ajustar margen del contenedor */
    .contenedor {
      max-width: 100%;
      margin: 20px;
    }
  
    /* Ajustar margen del formulario */
    form {
      margin-top: 30px;
    }
  
    /* Ajustar ancho del botón */
    button {
      width: 100%;
    }
  
    /* Ajustar margen del resultado */
    #resultado {
      margin-top: 30px;
    }
  
    /* Ajustar margen del título */
    h1 {
      margin-top: 30px;
      font-size: 28px;
    }
  
    /* Ajustar margen de los inputs */
    .input-group {
      margin-bottom: 15px;
    }
  
    /* Ajustar tamaño de fuente de los inputs */
    input[type="text"],
    select {
      font-size: 16px;
    }
  
    /* Ajustar tamaño de fuente del botón */
    button {
      font-size: 16px;
      height: 40px;
    }
  
    /* Ajustar tamaño de fuente de los labels */
    label {
      font-size: 16px;
    }
  
    /* Ajustar tamaño de fuente del resultado */
    #resultado {
      font-size: 20px;
    }
  
  }
  
